* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}
.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.instagram-phone img {
  height: 48rem;
}
.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}
.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}
.group:nth-child(1) {
  min-height: 19rem;
  margin-bottom: 1rem;
}
.instagram-logo {
  height: 3rem;
}
.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 1.2rem 0;
}
.profile-photo img {
  height: 6rem;
}
.instagram-login {
  background: #0095f6;
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 0.9rem;
}
.instagram-logout {
  color: #0095f6;
  margin-top: 0.8rem;
}
.not-account {
  color: #a0a0a0;
  margin: 0.2rem 0;
}
.link-blue {
  color: #0095f6;
}
.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}
.download {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.app-download:nth-child(1) {
  background-image: url(../img/apple-button.png);
}
.app-download:nth-child(2) {
  background-image: url(../img/googleplay-button.png);
}
.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}
.line-phone {
  display: none;
}
@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}
@media (max-width: 720px) {
  .instagram-wrapper {
    width: 70%;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .instagram-wrapper {
    width: 90%;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;
    background-color: white;
  }
  .group {
    border: 1px solid transparent;
    background-color: white;
  }
  .group span {
    display: none;
  }
  .app-download img {
    display: none;
  }
  .get-the-app {
    display: none;
  }
  .instagram-logo {
    margin-bottom: 1rem;
  }
  .instagram-login {
    margin-top: 1.2rem;
  }
  body {
    background-color: white;
  }
  .line-phone {
    height: 1px;
    background-color: lightgray;
    width: 80%;
    display: flex;
  }
}
